<html>
    <head>
        <title>ADD A NOTE</title>
        <link rel="stylesheet" href="../styles.css">
        
    </head>
    <body>
        <h1> Add New Note </h1>
        <form method="POST" action="/new">
            <label>Message</label>
            <input name="text" placeholder="Write your message" || place>
            <label>Name</label>
            <input name="user" placeholder="Enter name">
            
            <button>Submit</button>
        </form>
    </body>

</html>