<html>
    <head>
        <title>POST A NOTE</title>
        <link rel="stylesheet" href="../styles.css">
        
    </head>
    <body>
        <%console.log("Inside Index")%>
        <%console.log(Object.keys(messages))%>
        <% messages.forEach(message=>{ %>
            <li>
                <div class="note">
                <h2>Note</h2>
     
                    <div><%= message.text %></div>
                    <div>Name - <%= message.name %></div>
                    <div>Date - <%= message.added %></div>                    
                </div>
                <a href="/text/<%= message.id %> " class="btn">Open</a>
            
            </li>
            
        
        <% });%>
         <a href="/new" class="btn">Add Your Note</a>
    </body>

</html>