<html>
    <head>
        <title>POST A NOTE</title>
        <link rel="stylesheet" href="../styles.css">
        
    </head>
    <body>
        <h2>Full message</h2>

       
                <div class="note">
                <h2>Note</h2>
     
                    <div><%= messages[i].text %></div>
                    <div>Name - <%= messages[i].user %></div>
                    <div>Date - <%= messages[i].added %></div>                    
                </div>
                <a href="/" class="btn">Back</a>
   
        

         <a href="/new" class="btn">Add Your Note</a>
    </body>

</html>